/* TEMPLATE */

.sto-__PLACEHOLDER__-container {
  width: 720px;
  height: 124px !important;
  position: relative;
  background-image: __IMAGE__;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 100% auto;
  border: 1px solid transparent;
  /* right: calc(50% - 745px);
  top: 0px; */
  /* bottom: auto; */
  cursor: pointer;
  /* display: none; */
  z-index: 2;
  margin: auto;
  margin-top: 20px;

}

.sto-__PLACEHOLDER__-container[data-state="visible"] {
  display: inline-block;
}

/* LA REDOUTE */
#corePage {
  position: relative;
}

@media screen and (max-width: 767px) {
    .sto-__PLACEHOLDER__-container {
      display: none;
    }
}
